* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header {
    margin-top: 15px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.logo img {
    margin-right: 50px;
    width: 100px;
    height: 100px;
}

.search, nav, nav ul{
    display: flex;
}

.search {
    align-items: center;

}

.search img {
    height: 45px;
}

.search-box{
    background-color: white;
    width: 400px;
    height: 45px;
    border: 7px solid orange;
}

.selection ul{
    padding-left: 10px;
    margin-left: 10px;
    display: flex;
}

.selection li{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-right: 10px;
    font-size: 10px;
}

.hr-box {
    margin: 0 auto;
    width: 1000px;
}

hr{
    margin-top: 3px;
    border: 1px solid orange;
}

nav {
    padding-left: 100px;
    align-items: center;
    height: 25px;
    margin-top: 5px;
}

nav h4 {
    font-weight: 900;
    margin-right: 5px;
}

nav li { 
    color: grey;
    margin-left: 8px;
    font-size: 13px;
    font-weight: 900;
}

main {
    margin-top: 10px;
    justify-content: center;
    display: flex;
}

article .image-box{
    display: flex;
    justify-content: center;
    width: 500px;
    background-color: black;
}

article img {
    width: 400px;
}

article {
    margin-right: 5px;
    width: 500px;
}

section{
    width: 300px;
}

section img {
    width: 250px;
}

.image-boxs img{
    width: 100px;
    margin: 30px 20px;

}

.image-box {
    display: flex;
}

.text{
    padding-left: 10px;
    margin: 10px 0;
    background-color: orange;
    font-size: 20px;
}

.card {
    font-size: 13px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    width: 33%;
    font-weight: bold;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
}

.card img {
    margin: 0 auto;
    width: 70%;
}

.cards {
    margin: 10px 0;
    display: flex;
}

.bootcamp {
    display: flex;
    flex-wrap: wrap;
}

.bootcaamp-list {
    font-weight: 1000;
    font-size: 13px;
    background-color: rgb(255, 234, 209);
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 33em;
    flex-basis: calc(33.333% - 6px);
    margin: 3px; 
}

.bootcaamp-list:nth-child(1){
    color: blue;
}

.bootcaamp-list:nth-child(2){
    color: rgb(130, 49, 49);
}

.bootcaamp-list:nth-child(3){
    color: rgb(64, 216, 99);
}

.bootcaamp-list:nth-child(4){
    color: rgb(52, 52, 96);
}

.bootcaamp-list:nth-child(5){
    color: rgb(81, 37, 37);
}

.bootcaamp-list:nth-child(6){
    color: rgb(92, 71, 41);
}

.bootcaamp-list:nth-child(7){
    color: rgb(67, 157, 90);
}

.bootcaamp-list:nth-child(8){
    color: rgb(28, 170, 139);
}

.bootcaamp-list:nth-child(9){
    color: rgb(108, 35, 18);
}

.login-box {
    padding-left: 10px;
    background-color: rgb(222, 215, 215);
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.signup {
    background-color: orange;
    width: 95%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;

}

.box {
    margin-bottom: -3px;
    margin-top: 10px;
    display: flex;
    height: 90px;
}

.login {
    margin-left: 5px;
    font-weight: 1000;
    font-size: 18px;
    text-align: center;
    line-height: 80px;
    background-color: orange;
    color: white;
    width: 30%;
    height: 90%;
}

.id-pw{
    margin-left: 5px;
    background-color: antiquewhite;
    margin: 0 2px;
    width: 60%;
    height: 90%;
}
.login-unit {
    margin: 7px 15px;
    display: flex;
}

.login-unit p{
    line-height: 30px;
    width: 50px;
    font-size: 17px;
    font-weight: bold;
}
.white-box {
    width: 100px;
    height: 30px;
    background-color: white;
}