.list_box {
    width: 40%;
}

.list_title {
    background-color: #d9d9d9;
    border: 1px solid black;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    border: 1px solid black;
}

.content {
    flex: 8;
    margin: 0;
    padding: 0.5rem 1rem;
    overflow-x: scroll;
}

.content::-webkit-scrollbar {
    display: none;
}

button {
    cursor: pointer;
}

.done_btn {
    flex: 1;
}

.delete_btn {
    flex: 1;
}

.done {
    color: gray;
    text-decoration: line-through;
}