/* COMMON */
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
h4 {
  font-weight: 900;
}


/* HEADER */
header {
  margin-top: 15px;
  height: 100px;
  justify-content: center;
  margin-bottom: 15px;
  display: flex;
}
header .inner {
  height: 100px;
  display: flex;
  justify-content: center;
}
header .logo img {
  width: 100px;
  height: 100px;
  margin-right: 50px;
}

header .search {
  margin: auto 0;
  display: flex;
}
header .search .search_box {
  width: 400px;
  height: 45px;
  background-color: #fff;
  border: 7px solid #FF7710;
}
header .search img {
  height: 20px;
  padding: 19px 30px;
  margin-left: 1px;
  background-color: #FF7710;
}

.selection {
  position: absolute;
  top: -10px;
  right: 90px
}
.selection a {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-right: 10px;
  font-size: 12px;
}


/* HR_BOX */
.hr_box hr{
  border: 1px solid #FF7710;
  margin: 3px 0;
}
.hr_box nav {
  height: 30px;
  padding-left: 200px;
  align-items: center;
  display: flex;
}
.hr_box nav h2 {
  font-size: 20px;
  font-weight: 900;
  margin-right: 30px;
}
.hr_box nav ul {
  color: grey;
  display: flex;
}
.hr_box nav ul li {
  margin-right: 15px;
}


/* MAIN_CONTENTS */
.main_contents {
  font-size: 20px;
  margin-top: 10px;
}
.main_contents .inner {
  left: 200px;
  display: flex;
}


/* LEFT */
.main_contents .left {
  width: 500px;
}
/* SLOGAN */
.slogan img {
  width: 500px;
}
/* BOOT_CAMP */
.boot_camp {
  width: 100%;
}
.boot_camp h4 {
  width: 500px;
  height: 30px;
  align-content: center;
  background-color: #FF7710;
  margin: 10px 0;
}
.boot_camp .types {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 160px);
	grid-template-rows: repeat(3, 60px);
  column-gap: 5px;
	row-gap: 5px;
}
.boot_camp .types div {
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  background-color: #FFF3EB;
}
/* TRACK */
.track h4 {
  width: 500px;
  height: 30px;
  align-content: center;
  background-color: #FF7710;
  margin: 10px 0;
}
.track .track_img {
  display: flex;
}
.track img {
  width: 110px;
  margin: 50px 30px;
  display: block;
}
.track ul {
  display: flex;
}
.track ul li {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  margin: 10px 15px;
}


/* RIGHT */
.main_contents .right {
  width: 310px;
  margin-left: 10px;
}
/* LOGIN_BOX */
.login_box {
  height: 160px;
  background-color: #F7F7F8;
  position: relative;
}
.login_box .input_box {
  width: 190px;
  height: 90px;
  background-color: #FFE7D3;
  position: absolute;
  top: 10px;
  margin-left: 15px;
}
.login_box .input_box h4 {
  margin: 10px;
  display: inline-block;
}
.login_box .input_box h4:first-child {
  margin-left: 15px;
}
.login_box .input_box input {
  width: 100px;
  height: 30px;
  border: none;
}
.login_box .input_box input:nth-child(2) {
  margin-left: 5px;
}
.login_box .input_box input:last-child {
  margin-bottom: 10px;
}
.login_box .login,
.login_box .sign_up {
  color: #fff;
  background-color: #FF7710;
  text-align: center;
  align-content: center;
}
.login_box .login {
  width: 80px;
  height: 80px;
  margin: 15px 15px 0 0;
  float: right;
}
.login_box .sign_up {
  width: 300px;
  height: 40px;
  position: absolute;
  left: 5px;
  bottom: 10px;
}
/* SBC_LOGO */
.sbc_logo {
  width: 100%;
  height: 250px;
}
.sbc_logo img{
  width: 80%;
  margin: 0 auto;
  display: block;
}
/* KIT_LOGO */
.kit_logo h4 {
  width: 310px;
  height: 30px;
  align-content: center;
  background-color: #FF7710;
  margin: 10px 0;
}
.kit_logo .kit_logo_img {
  text-align: center;
}
.kit_logo .kit_logo_img img{
  width: 110px;
  margin: 30px 20px;
}